# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nhysgmjgsppwczackdwv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oeXNnbWpnc3Bwd2N6YWNrZHd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NzQxMjksImV4cCI6MjEwNTE1MDEyOX0.pP9h1GF0882nZWisioBhmcJ7ya3H660PZtvCgnbnkVg
